body{
background-color: #2596be;
}

main{
padding-bottom: 30px;
background-color: white;
width: 500px;
border-radius: 5px;
text-align: center;
position: absolute;
top:50%;
left:50%;
transform: translate(-50%, -50%);
box-shadow: 2px 2px 8px 5px rgba(0, 0, 0, 0.3);
}

input#mandar {
display: none;
}

h1 {
color: #2596be;
}

input[type="text"]{
font-size: 15px;
border: solid 1px #d3d3d3;
margin: 5px;
width: 50%;
height: 30px;
}

.button{
background-color: #2596be;
color: white;
font-size: medium;

margin-top: 15px;
border: none;
width: 50%;
height: 30px;

box-shadow: 0.5px 0.5px 3px rgba(0, 0, 0, 0.3);
}

.button:hover{
cursor: pointer;
text-decoration:underline;
}

.lugar:active + input#mandar {
display: inline-block;
}

