:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
}

header {
    color: white;
    background-color: black;
    text-align: center;
}

header h1 {
    font-family: var(--fonte2);
    font-variant: small-caps;
    font-size: 20vh;
    padding-top: 50px;
}

header p {
    font-family: var(--fonte1);
    padding-bottom: 50px;
}

