body {
    background-color: hsl(30, 54%, 90%);
    padding: 100px 0px;
    margin: 0;
    font-family: 'Outfit', sans-serif;
    line-height: 1.8;
}

main {
    width: 100%;
    max-width: 650px;
    min-width: 320px;
    box-sizing: border-box;
    margin: 0 auto;
    border-radius: 25px;
    padding: 45px;
    background-color: hsl(0, 0%, 100%);
}

#omelette-img {
    border-radius: 15px;
    width: 100%;
    height: auto;
}
 
h1 {
    font-family: 'Young Serif', serif;
    font-weight: 400;
}

h2 {
    font-family: 'Young Serif', serif;
    font-weight: 400;
    color: hsl(14, 45%, 36%);
}

.info-box {
    background-color: hsl(330, 100%, 98%);
    padding: 20px;
    border-radius: 15px;
    margin-top: 30px;
}

.info-box h3 {
    color: hsl(332, 51%, 32%);
    margin: 0 0 0 10px;
}

.info-box #preparation {
    margin: 0;
}


li::marker {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

li {
    padding-left: 10px;
}

ul.content-list, ol.content-list {
    padding-left: 25px;
    margin-top: 0;
}